---
layout: index
title: aShare
cTitle: aShare
tagline: 
thumbnail: banner-01.png
---
{% include JB/setup %}







{% for post in site.posts limit:10 %}
<section class="section">
<article>
<div class="page-header">
<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></h1>
</div>
<div class="tag-list">
	分類：<a class="tag" href="categories.html#{{ post.category }}-ref">{{ post.category }}</a>
	<time class="post-time">{{ post.date | date_to_long_string }}</time>
</div>


{% if post.thumbnail %}
<p>
	<img src="/images/{{ post.thumbnail }}" />
</p>
{% else %}
	<!--if there is no img-->
{% endif %}

{% if post.content contains "<!-- more -->" %}
 	{{ post.content | split:"<!-- more -->" | first % }}
{% else %}
 	{{ post.content | strip_html | truncatewords:100 }}
{% endif %}

	<div class="text-right">
		<a href="{{ BASE_PATH }}{{ post.url }}" class="btn-bevel btn">Read more...</a>
	</div>
</article>
</section>
{% endfor %}



<!-- page nav-->
<section class="section">
<div class="page-nav">
  <a href="/archive.html">More</a>
</div>
</section>
<!-- page nav end--> 