<div class="content-wrap page">
<div class="content">
<section class="section">
  <article>
    <h1 class="title">
      {% if page.cTitle %} 
        {{ page.cTitle }}
      {% endif %}
    </h1>
    <div class="page-header">
      <h2>
        {% if page.tagline %}
          {{page.tagline}}
        {% endif %}
      </h2>
    </div>    
    <div class="tag-list">
      <a class="tag" href="categories.html#{{ post.category }}-ref">{{ page.category }}</a><time class="post-time">{{ page.date | date_to_long_string }}</time>  
    </div>

      {{ content }}

    <div class="">
      <!-- <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
         -->
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>
      <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: 'zh-TW'}
      </script>
    </div>
    <div class="pages">
    {% if page.previous %}
    <a href="{{ BASE_PATH }}{{ page.previous.url }}" style="width: 50%">
      <div class="img" style="background-image: url(/images/{{ page.previous.thumbnail }})"></div>
      <span class="font-gray">Previous</span>
      <span>{{ page.previous.cTitle }}</span>
    </a>
    {% else %}
      <!--if not-->
    {% endif %}
    {% if page.next %}
    <a href="{{ BASE_PATH }}{{ page.next.url }}" style="width: 50%">
      <div class="img" style="background-image: url(/images/{{ page.next.thumbnail }})"></div>
      <span class="font-gray">Next</span>
      <span>{{ page.next.cTitle }}</span>
    </a>
    {% else %}
      <!--if not-->
    {% endif %}
  </div>
    <hr>
    {% include JB/comments %}
  </article>      
</section>

 


</div>

  


<!-- 
<aside class="aside"> 
    <h4>Related Posts</h4>
    <ul class="recent-box">
      {% for post in site.related_posts limit:5 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></li>
      {% endfor %}
    </ul>

    <h4>Recent Posts</h4>
    <ul class="recent-box">
      {% for post in site.posts limit:5 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></li>
      {% endfor %}
    </ul> 

    <h4>Tags</h4>
    {% unless page.categories == empty %}
    <ul class="tag-box">
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
    {% endunless %} 
  
    {% unless page.tags == empty %}
      <ul class="tag-box">
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}  
  </aside> -->


  
</div>