@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:100");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url('/images/lightpaperfibers.png?Made-by-Jorge-Fuentes.');
}

a {
  text-decoration: none;
  color: #0082D7;
}
a:hover, a:focus {
  color: #00548b;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.content-wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
}
.content-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  .aside {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.square-btn {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
}
.square-btn > span {
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  display: block;
  width: 28px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main-menu-btn {
  margin-top: 6px;
}
.main-menu-btn > span {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-menu-btn > span:nth-child(1) {
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.main-menu-btn > span:nth-child(2) {
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.menu-show .main-menu-btn span {
  top: 8px;
  background-color: white;
}
.menu-show .main-menu-btn span:nth-child(1) {
  -moz-transform: rotate(0deg) translateY(8px);
  -ms-transform: rotate(0deg) translateY(8px);
  -webkit-transform: rotate(0deg) translateY(8px);
  transform: rotate(0deg) translateY(8px);
}
.menu-show .main-menu-btn span:nth-child(2) {
  -moz-transform: rotate(120deg) translateY(8px);
  -ms-transform: rotate(120deg) translateY(8px);
  -webkit-transform: rotate(120deg) translateY(8px);
  transform: rotate(120deg) translateY(8px);
}
.menu-show .main-menu-btn span:nth-child(3) {
  -moz-transform: rotate(240deg) translateY(8px);
  -ms-transform: rotate(240deg) translateY(8px);
  -webkit-transform: rotate(240deg) translateY(8px);
  transform: rotate(240deg) translateY(8px);
}

.note, .note.waring, .note.post-info, .read-more {
  color: white;
  position: relative;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.note > *:first-child, .read-more > *:first-child {
  margin-top: 0;
}
.note > *:last-child, .read-more > *:last-child {
  margin-bottom: 0;
}
.note:before, .note.waring:before, .note.post-info:before, .read-more:before {
  content: "";
  position: absolute;
  left: 0;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}
.note:after, .note.waring:after, .note.post-info:after, .read-more:after {
  font-size: 1.5em;
  position: absolute;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.relative {
  position: relative;
}

.note {
  margin: 15px 0;
  margin-left: -25px;
  padding: 15px 15px 15px 40px;
  background: #0063a4;
  background-color: #0082D7;
}
.note:before {
  top: -10px;
  border-color: transparent #0063a4 #0063a4 transparent;
}
.note:after {
  content: "ⓘ";
  top: 15px;
  left: 10px;
}

.note.waring {
  margin: 15px 0;
  margin-left: -25px;
  padding: 15px 15px 15px 40px;
  background: #701c0d;
  background-color: #9e2812;
}
.note.waring:before {
  top: -10px;
  border-color: transparent #701c0d #701c0d transparent;
}
.note.waring:after {
  content: " ‼ ";
  top: 15px;
  left: 10px;
}

.note.post-info {
  display: inline-block;
  margin: 0;
  margin-left: -25px;
  padding: 7.5px 15px 7.5px 40px;
  background: #5e5e5e;
  background-color: #777;
  margin-bottom: 1.5em;
}
.note.post-info:before {
  top: -10px;
  border-color: transparent #5e5e5e #5e5e5e transparent;
}
.note.post-info:after {
  content: "";
  top: 15px;
  left: 10px;
}

.post-time {
  margin: 0 7.5px;
  color: #a6a6a6;
}

.tag-list {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.tag {
  display: inline-block;
  color: white;
  background-color: #a6a6a6;
  padding: 0 0.5em;
  border: dashed 1px #8c8c8c;
  border-radius: 2px;
}
.tag:hover, .tag:focus {
  background-color: #999999;
  color: white;
}
.tag + .tag {
  margin-left: 0.5em;
}

.demo {
  padding: 15px;
  margin-bottom: 1.5em;
  border: 1px dashed orange;
  position: relative;
}
.demo:after {
  content: attr(data-demo);
  color: #0082D7;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 4px;
  border: 1px dashed orange;
  position: absolute;
  right: -1px;
  top: -1px;
}

.read-more {
  display: inline-block;
  float: right;
  margin: 15px 0 0 0;
  margin-right: -25px;
  padding: 7.5px 40px 7.5px 15px;
  background: #0063a4;
  background-color: #0082D7;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.read-more:before {
  top: -10px;
  right: 0;
  left: auto;
  border-color: transparent transparent #0063a4 #0063a4;
}
.read-more a {
  color: white;
}

.logo {
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.5em;
  line-height: 2em;
  text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.12);
}
.logo:hover, .logo:focus {
  color: white;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}

.header {
  background-color: #0082D7;
  height: 330px;
  position: relative;
}
.header .banner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.header .banner path {
  stroke: #999;
}
.header .container {
  position: relative;
  padding-top: 330px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  .header .container {
    padding-left: 0;
  }
}
.header .page-title {
  padding-bottom: 0.75em;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 2em;
  line-height: 1.5em;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  color: white;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 960px) {
  .header .page-title {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.6666666667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 46px;
  background-color: rgba(0, 0, 0, 0.65);
}
.navigation .container {
  position: relative;
}
.navigation h1 {
  position: absolute;
  right: 0;
  z-index: 3;
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
.navigation .main-menu {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 3;
}
.navigation .drop-menu {
  position: absolute;
  left: 44px;
  background-color: white;
  top: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
.navigation .drop-menu a {
  color: #3B3B3B;
  padding: 0.75em 30px;
  display: block;
}
.navigation .drop-menu a:hover, .navigation .drop-menu a:focus, .navigation .drop-menu a:active {
  color: #00548b;
}
.menu-show .drop-menu {
  max-height: 600px;
}
@media (min-width: 960px) {
  .navigation {
    height: 0;
  }
  .navigation.small {
    height: 46px;
  }
}

.content {
  margin-top: 1.5em;
}
.index .content {
  margin-top: -6em;
}
.index .content .section {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 3em;
  padding: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}
.content h1 {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  font-size: 2em;
  line-height: 1.5em;
}
.content h1 a {
  color: black;
}
.content h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.375em;
  margin-top: 0.375em;
}
.content h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.content h3 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
.content h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}
.content h5, .content h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}
.content h1, .content h2, .content h3 {
  font-weight: bolder;
}
.content h1 .title, .content h2 .title, .content h3 .title {
  margin-top: 0em;
}
.content h1 small, .content h2 small, .content h3 small {
  line-height: 1;
  font-size: 65%;
}
.content h4, .content h5, .content h6 {
  font-weight: bolder;
}
.content h4 small, .content h5 small, .content h6 small {
  line-height: 1;
  font-size: 85%;
}
.content p {
  margin-bottom: 0.75em;
}
.content strong, .content b {
  font-weight: bolder;
}
.content em, .content i {
  font-style: italic;
  line-height: inherit;
}
.content sub, .content sup {
  font-size: smaller;
}
.content sup {
  vertical-align: super;
}
.content sub {
  vertical-align: sub;
}
.content u {
  text-decoration: underline;
}
.content hr {
  margin: 1.5em 0 1.5em;
  border: none;
  border-top: 1px solid #ccc;
}
.content abbr {
  cursor: help;
  border-bottom: 1px dotted #a1a1a1;
}
.content blockquote {
  margin-bottom: 1.5em;
}
.content blockquote p, .content blockquote ul, .content blockquote ol {
  margin-bottom: 0;
  color: #555;
}
.content blockquote small, .content blockquote em {
  color: #999;
}
.content ol {
  margin: 0 0 1em 25px;
  list-style-type: decimal;
}
.content ol ul, .content ol ol {
  margin: 0 0 1em 25px;
  list-style-type: decimal;
}
.content ul {
  margin: 0 0 1em 25px;
  list-style-type: disc;
}
.content ul ul, .content ul ol {
  margin: 0 0 1em 25px;
  list-style-type: circle;
}
.content dt {
  margin-bottom: 0.5em;
  font-weight: bolder;
}
.content dd {
  padding-left: 1.5em;
  margin-bottom: 1em;
  color: #555;
}
.content dd:before {
  display: inline-block;
  width: 1em;
  border-top: 1px solid #ccc;
  margin: 0.4em 0.5em 0.3em -1.5em;
  content: "";
}
.content pre {
  background: #777;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.75em 0.75em;
  color: white;
  overflow-x: auto;
  margin-bottom: 1.5em;
}
.content article {
  *zoom: 1;
}
.content article:after {
  content: "";
  display: table;
  clear: both;
}
.content img {
  max-width: 100%;
  height: auto;
}

.page-nav a {
  display: block;
  padding: 1em;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  background-color: white;
  border-radius: 2px;
}

.aside {
  margin-top: 1.5em;
  margin-bottom: 0;
}
.aside h4 {
  color: #ccc;
}
.aside ul {
  margin-bottom: 1.5em;
}
.aside ul a {
  display: block;
  border-bottom: #e6e6e6 solid 1px;
}

.footer {
  margin-top: 1.5em;
  padding: 1.5em 0;
}
.footer .container {
  padding-left: 10px;
  padding-right: 10px;
}
